*{
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -140px;
    background-color: #212121;
}


.head-page {
    background-color: transparent;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 25px;
    color: #b61c80;
    font-style: normal;
    margin-top: -20px;
    top: 0;
    left: 0;
    cursor: pointer;
}

.port {
    width: 700px;
    position: relative;
}

.container {
    position: relative;
}

.profile-picture {
    position: absolute;
    bottom: 32%;
    left: 30%;
    border-radius: 50%;
    border: 3px solid #fff;
    z-index: 2;
}

.bt-follow{
    position: absolute;
    right: 30%;
    margin-top: 5px;
}

.bt-follow button{
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    height: 40px;
    width: 100px;
    background-color: #b61c80;
}

.myname p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -30px;
    font-size: 18px;
}

.bt-follow button:hover{
    border: 2px solid #fff;
}

.myname{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    position: absolute;
    top: 65%;
    left: 30%;
}

.phrase{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    position: absolute;
    top: 78%;
    left: 30%;
    right: 30%;
}

.myinfo {
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #b4b4b4;
    position: absolute;
    top: 90%;
    left: 30%;
    right: 30%;
}

.myinfo,
.job,
.linkend{
    padding-right: 20px;
}

.createpage{
    padding-left: 20px;
}

.myinfo{
    top: 88%;
}

.myinfo p {
    float: right;
    margin: 0;
    margin-left: 5px;
    font-size: 18px;
}


.phrase p{
    margin-top: 1px;
    font-size: 18px;
}

#canvas {
    margin-top: 70px;
    width: 100%;
    height: 280px;
    z-index: 1;
}