body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #212121;
    color: #fff;
}

header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-body{
    margin-top: 80px;
}

.bt-follow{
    position: absolute;
    right: 30%;
    margin-top: -30px;
}

.bt-initial p {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  color: #b61c80;
  font-style: normal;
}

.bt-follow button{
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    height: 40px;
    width: 100px;
    background-color: #b61c80;
}

.bt-follow button:hover{
    border: 2px solid #fff;
}


.port {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
}

canvas {
    width: 700px;
    height: 280px;
}

.myinfo,
.job, .linkend, .bithday, .createpage{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

.myname, p{
    margin-top: -30px;
}

.phrase, p{
    margin-top: -10px;
}

.myinfo p{
    margin: 5px;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
    font-size: 24px;
}

.theme-page {
    display: flex;
    align-items: center;
}

.theme-page img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.theme-page img:last-child {
    margin-right: 0;
}

.profile-picture {
    position: absolute;
    display: block;
    left: 30%;
    top: 35%;
    border-radius: 50%;
    width: 200px;
    border: solid 2px #fff;
    height: auto;
}

.main-content {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

@media screen and (min-width: 1200px) {
    .profile-picture {
        top: 30%;
    }
}

@media screen and (min-width: 1400px) {
    .profile-picture {
        top: 25%;
    }
}

@media screen and (min-width: 1600px) {
    .profile-picture {
        top: 15%;
    }
}

.modoToggle {
    display: inline-block;
    cursor: pointer;
}

#modoOscuro {
    display: none;
}

#modoOscuro:checked + .modoToggle .dark-theme {
    display: none; /* oculta la imagen del modo oscuro cuando el checkbox está marcado */
}

#modoOscuro:not(:checked) + .modoToggle .light-theme {
    display: none; /* oculta la imagen del modo claro cuando el checkbox no está marcado */
}


