* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  width: 700px;
  background-color: #212121;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 700px;
  background-color: rgba(33, 33, 33, 0.5);
  padding: 1rem;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1;
}

.navbar .logo img {
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

#contact-link{
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
  cursor: pointer;
}

.nav-links a:hover{
  color: #b31d7e;
  font-weight: bold;
}

#contact-link:hover{
  color: #b31d7e;
  font-weight: bold;
}

main{
  margin-top: 5rem;
}

.main {
  margin: 0 auto;
  display: grid;
  place-items: center;
  width: 190px;
  height: 254px;
  flex: 1;
}

.card {
  width: 250px;
  height: 254px;
  background: #212121;
  padding: 2rem 1.5rem;
  transition: box-shadow .3s ease, transform .2s ease;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-avatar img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.card-social {
  display: flex;
  justify-content: space-around;
  width: 190px;
  margin-top: 10%;
  text-align: center;
}

.card-social-icon {
  list-style: none;
  color: #fff;
  font-size: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-social-icon svg {
  display: block;
  height: 20px;
  width: 20px;
  fill: #fff;
  cursor: pointer;
}

.card-title {
  color: #fff;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2rem;
  margin-top: 5px;
  text-align: center;
}

.card-subtitle {
  color: #fff;
  font-size: .9em;
}

.address-icon {
  fill: transparent;
  height: 100px;
  width: 100px;
  list-style: none;
  justify-content: space-around;
}

.address-title {
  color: #fff;
  font-size: 1.5em;
  font-weight: 600;
  list-style: none;
}

.address {
  color: #fff;
  font-size: 0.8em;
  list-style: none;
}

.contact-title {
  color: #fff;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 45%;
  padding-bottom: 5px;
}

.card-contact {
  color: #fff;
  font-size: 0.8em;
}

.icon-contact {
  list-style: none;
  display: flex;
  align-items: center;
}

.icon-contact button{
  padding: .6rem;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #b31d7e;
  border: none;
  color: #fff;
}

.icon-contact button:hover{
  background-color: #881b62;
  border: 2px solid #fff;
}

.icon-contact svg {
  display: block;
  height: 18px;
  width: 18px;
  fill: #fff;
  padding-right: 5px;
}

.card:hover .card-info {
  transition: ease-in-out 20s;
}

.card-avatar:hover {
  transform: scale(1.1);
}

#cs1:hover {
  transform: scale(2.0);
  font-weight: bold;
  color: #b31d7e;
}

#cs2:hover {
  transform: scale(2.0);
  font-weight: bold;
  color: #b31d7e;
}

#cs3:hover {
  transform: scale(2.0);
  font-weight: bold;
  color: #b31d7e;
}

.main:hover #c1 {
  transform: translateX(0px);
}

.main #c2 {
  transform: translateX(0);
  transition: transform 0.8s ease-in-out;
}

.main #c2.open {
  transform: translateX(250px);
}

.main #c3 {
  transform: translateX(0);
  transition: transform 0.8s ease-in-out;
}

.main #c3.open {
  transform: translateX(-250px);
}

.main:hover #c2 {
  transform: translateX(250px);
}

.main:hover #c3 {
  transform: translateX(-250px);
}

.body-container{
  margin-top: 2rem;
  text-align: justify;
}

h1{
  color: #b31d7e;
}

.list{
  margin-left: 2rem;
  font-size: .9rem;
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-inner img,
.carousel-inner video {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.carousel .prev,
.carousel .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel .prev {
  left: 0;
}

.carousel .next {
  right: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  padding-top: 4rem;
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 80%;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@keyframes zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

footer {
  color: white;
  text-align: center;
  padding: 1rem;
}

@media (max-width: 768px) {
  body {
    width: 100%;
    padding: 0 1rem;
  }

  .navbar {
    width: 100%;
    margin-left: -1rem;
  }

  .main {
    width: 100%;
    max-width: 100%;
  }

  .card {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  .main #c2, .main #c3 {
    transform: translateY(0);
    visibility: hidden;
  }

  .main #c2.open {
    width: 100%;
    height: auto;
    transform: translateY(8rem);
    visibility: visible;
  }

  .main #c3.open {
    width: 100%;
    height: auto;
    transform: translateY(20rem);
    visibility: visible;
  }

  .address-icon {
    display: none;
  }
}

.project-header{
  display: flex;
  align-items: center;
  gap: 15px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background-color: #212121;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.button .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
  margin-left: .5rem;
}

.button svg path {
  transition: 400ms;
}

.button:hover {
  background-color: transparent;
  transition: 400ms;
}

.button:hover .text {
  color: #b31d7e;
  transition: 400ms;
}

.button:hover svg path {
  fill: #b31d7e;
  transition: 400ms;
}

.card-skill {
  width: 100%;
  height: 250px;
  background: #212121;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  color: #b31d7e;
  border-radius: 10px;
}
.card__tags {
  overflow: auto;
  height: 80%;
}
.title {
  font-weight: 900;
  font-size: 1.7em;
}

.tag__name {
  display: inline-block;
  color: #fff;
  font-size: 1.1em;
  background-color: #b31d7e;
  padding: 6px 20px 9px;
  border-radius: 70em;
  margin: 8px 6px 8px 0;
  margin-left: 0px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.tag__name::before,
.tag__name::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 40%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #212121;
}

.tag__name::before {
  left: 7px;
}

.tag__name::after {
  right: 7px;
}

.tag__name:hover {
  transform: scale(1.1);
  background-color: #881b62;
}